<div class="span3">
  <ul class="nav nav-list affix">
    <li class="nav-header">目次</li>
    <li><a href="#概要">概要</a></li>
    <li><a href="#見出し">見出し</a></li>
    <li><a href="#リンク">リンク</a></li>
    <li><a href="#箇条書き">箇条書き</a></li>
    <li><a href="#文字装飾">文字装飾</a></li>
    <li><a href="#Wikiリスト">Wikiリスト</a></li>
    <li><a href="#pre">pre表記（整形済みテキスト）</a></li>
    <li><a href="#引用">引用</a></li>
    <li><a href="#表">表</a></li>
    <li><a href="#その他">その他</a></li>
  </ul>
</div>

<div class="span9" data-spy="scroll" data-target="#rn-sidebar">

<%= generate_contents @text %>

</div>


